<!-- Modal -->
<div class="modal fade" id="modal_agregar_producto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content shadow-lg p-5 mb-5 bg-body rounded">
            <div class="modal-header alert alert-primary">
                <h3 class="modal-title" id="staticBackdropLabel"><i class="bi bi-dropbox"></i> Agregar productos</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form_venta">
                    {% csrf_token %}
                    <table class="table table-striped table-hover" id="tabla_agregar_producto">
                        <thead class="table-primary">
                            <tr>
                                <th>#</th>
                                <th>Producto</th>
                                <th>Precio público</th>
                                <th>Precio mayorista</th>
                                <th>Stock</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>