{% extends 'plantilla_principal/plantilla_principal.html' %}

{% load static %}

{% block titulo %}
<i class="bi bi-basket2-fill"></i> Ventas
{% endblock %}

{% block contenido %}
<table class="table table-striped table-hover" id="tabla_venta">
    <thead class="table-primary">
        <tr>
            <th>#</th>
            <th>Cliente</th>
            <th>Subtotal</th>
            <th>Seguimiento</th>
            <th>Confirmado</th>
            <th>Tipo de pago</th>
            <th>Usuario</th>
            <th>Fecha</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% include 'venta/agregar.html' %}
{% include 'venta/agregar_producto.html' %}
{% include 'venta/detalle_venta.html' %}

{% endblock %}

{% block script %}
<script type="module" src="{% static 'js/venta/main.js' %}"></script>
{% endblock %}