{% extends 'plantilla_principal/plantilla_ecommerce.html' %}

{% load static %}

{% block contenido %}

<!-- Encabezado -->
<header class="bg-primary text-white text-center py-5 mt-5">
    <div class="container">
        <h1>Bienvenidos a Electrosistemas</h1>
        <p class="lead">Comprometidos con la excelencia y la innovación</p>
    </div>
</header>

<!-- Sección Sobre Nosotros -->
<section id="sobre-nosotros" class="py-5">
    <div class="container">
        <h2>Sobre Nosotros</h2>
        <p class="lead">Electrosistemas es la tienda en línea líder en Guatemala con más de 50,000 productos
            disponibles.
            Nuestra misión es ofrecerte una experiencia de compra en línea práctica y segura, entregando productos
            interesantes directamente a tu puerta en cualquier lugar del país.</p>
        <h2>¿Por qué confiar en Electrosistemas?</h2>
        <p class="lead">En Kemik, nos esforzamos por ser una opción confiable para tus compras en línea. Te
            garantizamos:</p>
        <ul>
            <li>Variedad de marcas favoritas: Ofrecemos una amplia selección de tus marcas favoritas, todo disponible a
                través de nuestro sencillo sistema de compra en línea y entrega a domicilio.</li>
            <li>Practicidad y seguridad: Tu satisfacción es nuestra prioridad. Desde el momento en que ingreses a
                nuestra página hasta la entrega de tus productos, trabajamos para que tu experiencia sea práctica y
                segura.</li>
            <li>Apoyo a emprendedores: Electrosistemas es más que una tienda en línea; es una plataforma de ventas que
                ayuda a empresarios y comercios a expandir sus canales de distribución al mundo digital. Si deseas
                obtener más información sobre esta oportunidad, escríbenos electrosistemas@gmail.com</li>
        </ul>
        <h2>Nuestro estilo de trabajo</h2>
        <p class="lead">En Electrosistemas, somos un equipo joven, eficiente, responsable y apasionado por hacer las
            cosas de manera clara y sencilla. Estamos comprometidos en convertirnos en la mejor plataforma de ventas en
            línea de Guatemala.</p>
        <h2>Nuestro sueño</h2>
        <p class="lead">En el futuro, aspiramos a ser no solo una tienda en línea exitosa, sino también los impulsores
            de una comunidad de personas satisfechas que comparten sus gustos y aficiones a través de compras prácticas.
        </p>
        <h2>Nuestra misión</h2>
        <p class="lead">Nuestra misión es ser una tienda en línea dinámica e interesante que ofrece las mejores marcas
            del mercado de manera práctica, confiable y segura.</p>
        <h2>La visión que nos inspira</h2>
        <p class="lead">Nos enorgullece ser parte de la visión de un Guatemala próspero, donde todos tengan acceso a
            productos de calidad a precios asequibles a través de una tienda en línea de primer nivel. Queremos
            contribuir a ese futuro.</p>
    </div>
</section>

<!-- Sección Servicios -->
<!-- <section id="servicios" class="py-5 bg-light">
    <div class="container">
        <h2>Nuestros Servicios</h2>
        <div class="row">
            <div class="col-md-4">
                <h3>Servicio 1</h3>
                <p>Descripción detallada del servicio 1 que ofrece la empresa.</p>
            </div>
            <div class="col-md-4">
                <h3>Servicio 2</h3>
                <p>Descripción detallada del servicio 2 que ofrece la empresa.</p>
            </div>
            <div class="col-md-4">
                <h3>Servicio 3</h3>
                <p>Descripción detallada del servicio 3 que ofrece la empresa.</p>
            </div>
        </div>
    </div>
</section> -->

{% endblock %}



{% block script %}
{% endblock %}