<!DOCTYPE html>
<html lang="es">
    {% load static %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CDN de bootstrap para los estilos  -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- --------------------------------- -->
        <!-- CDN de iconos de bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <!-- -------------------------- -->
        <!-- ico de la app -->
        <link rel="icon" href="{% static 'img/ico.ico' %}" sizes="16x16 32x32 48x48 64x64">
        <!-- ------------ -->
        <title>Ecommerce Electrosistemas</title>
    </head>

    <body class="content-wrap mb-5 pb-5">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <a href="{% url 'vista_ecommerce' %}">
                        <img src="{% static 'img/logo.jpeg' %}" class="img-fluid" style="width: 60px;">
                    </a>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-tags-fill"></i> Categorias
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="select_categorias">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Ano ther action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                            <!-- <select class="nav-link dropdown-toggle" aria-labelledby="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false" id="">
                                <option value="">Categorias</option>
                                <option value="">ajfsjks</option>
                                <option value="">ajfsjks</option>
                            </select> -->
                        </li>
                    </ul>
                    <form class="d-flex col-12 col-md-6 text-white">
                        <input class="form-control me-2 flex-grow-1" type="search"
                            placeholder="Buscar en Electrosistemas" id="buscar">
                        <input type="text" hidden>
                    </form>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i role="button" class="bi-person-bounding-box fs-2 me-2 ms-2"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if user.is_authenticated %}
                                <li><a class="dropdown-item" href="{% url 'cerrar_sesion_cliente' %}"><i
                                            class="bi bi-power"></i> Cerrar sesión</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'vista_perfil_usuario' %}"><i
                                            class="bi bi-person-lines-fill"></i> Mi perfil</a></li>
                                {% else %}
                                <li><a class="dropdown-item" href="{% url 'vista_iniciar_sesion' %}"><i
                                            class="bi bi-door-open-fill"></i> Iniciar sesión</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'vista_crear_usuario' %}"><i
                                            class="bi bi-person-fill-add"></i> Crear cuenta</a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                    {% if user.is_authenticated %}
                    <a href="{% url 'carrito' %}">
                        <i role="button" class="bi bi-cart4 fs-2 ms-2 text-white"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container mb-5">
            {% block contenido %}
            {% endblock %}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

        <script type="module" src="{% static 'js/ecommerce/template.js' %}"></script>

        {% block script %}
        {% endblock %}

    </body>

    <!-- Footer fijo -->
    <footer class="fixed-bottom bg-dark text-white text-center py-1">
        <div class="container">
            <p>&copy; 2023 Electrosistemas. Todos los derechos reservados.</p>
            <p>
                <a target="_blank" href="https://wa.me/50245351923" class="text-decoration-none text-white fw-bold"><i class="bi bi-whatsapp"></i> 5588 7711</a> /
                <a href="{% url 'sobre_nosotros' %}" class="text-decoration-none text-white fw-bold"><i class="bi bi-file-earmark-person"></i> Sobre nosotros</a>
            </p>
        </div>
    </footer>

</html>