{% extends 'plantilla_principal/plantilla_principal.html' %}

{% load static %}

{% block titulo %}
<i class="bi bi-people-fill"></i> Clientes
{% endblock %}

{% block contenido %}
<table class="table table-striped table-hover" id="tabla_cliente">
    <thead class="table-primary">
        <tr>
            <th>#</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>NIT</th>
            <th>CUI</th>
            <th>Empresa</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Observaciones</th>
            <th>Usuario</th>
            <th>Fecha</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% include 'cliente/agregar.html' %}

{% endblock %}

{% block script %}
<script type="module" src="{% static 'cliente/main.js' %}"></script>
{% endblock %}