<!DOCTYPE html>
<html lang="es">

{% load static %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CDN de bootstrap para los estilos  -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- --------------------------------- -->
        <!-- CDN de iconos de bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <!-- -------------------------- -->

        <title>Login</title>
    </head>

    <style>
        .login {
            border: 1px solid #ced4da;
            border-radius: 5%;
        }
    </style>

    <body>

        <section class="vh-100">
            <div class="container py-5 h-100">
                <div class="row d-flex align-items-center justify-content-center h-100 login">
                    <div class="col-md-8 col-lg-7 col-xl-6">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                            class="img-fluid" alt="Phone image">
                    </div>
                    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                        <form id="form_login">
                            {% csrf_token %}
                            <!-- Email input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="text" class="form-control form-control-lg" name="user" required />
                                <label class="form-label" for="user">Usuario</label>
                            </div>

                            <!-- Password input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="password" class="form-control form-control-lg" name="password" required />
                                <label class="form-label" for="password">Contraseña</label>
                            </div>

                            <!-- Submit button -->
                             <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Ingresar</button>
                                </div>
                                <div class="col text-end">
                                    <a href="{% url 'vista_ecommerce' %}" class="btn btn-light btn-lg btn-block">Ir a tienda</a>
                                </div>
                             </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>

    </body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script type="module" src="{% static 'js/login/main.js' %}"></script>

</html>